{% extends "admin/base.html" %} 

{% block content %}

<div class="dashboard-container">
    <div class="card-container">
        <a href="/admin/project/order/" class="dashboard-card">
            <div class="card-content">
                <h3>Orders</h3>
                <div class="progress-circle" data-progress="75">
                    <span>75%</span>
                </div>
                <p>Total Orders: <strong>1250</strong></p>
                <p class="goal">Goal Achieved</p>
            </div>
        </a>
        <a href="/admin/project/analytics/" class="dashboard-card">
            <div class="card-content">
                <h3>Sales</h3>
                <div class="progress-circle" data-progress="65">
                    <span>65%</span>
                </div>
                <p>Total Sales: <strong>250</strong></p>
                <p class="goal">Goal Achieved</p>
            </div>
        </a>
    </div>
</div>

{{ block.super }}

{% endblock %}


